fire==0.5.0
pandas==2.0.3
python_docx==1.1.0
scikit_learn==1.3.2
Pillow
PyMuPDF
PyPDF2
pdf2docx
docx2pdf
pytesseract
openai
icalendar
gymnasium
rich
docker
mysql-connector-python
rpyc
openpyxl
google-generativeai

# if you need to run vLLM, you need to install the following packages
# check the installation guide at https://docs.vllm.ai/en/latest/serving/openai_compatible_server.html for more information
# vllm
